SECRET_KEY=sua_chave_django
DEBUG=True

# Credenciais do Supabase (Database)
DATABASE_URL=postgres://postgres.[sua-ref]:[sua-senha]@aws-0-[regiao][.pooler.supabase.com:6543/postgres](https://.pooler.supabase.com:6543/postgres)

# Credenciais AWS S3
AWS_ACCESS_KEY_ID=sua_chave_aws
AWS_SECRET_ACCESS_KEY=seu_secret_aws
AWS_STORAGE_BUCKET_NAME=nome_do_bucket